@keyframes exit-to-left {
	from {opacity: 1; transform: translate3d(0,0,0)}
	to {opacity: 0; transform: translate3d(-100%,0,0)}
}

@keyframes exit-to-right {
	from {opacity: 1; transform: translate3d(0,0,0)}
	to {opacity: 0; transform: translate3d(100%,0,0)}
}

@keyframes enter-to-left {
	from {opacity: 0; transform: translate3d(100%,0,0)}
	to {opacity: 1; transform: translate3d(0,0,0)}
}

@keyframes enter-to-right {
	from {opacity: 0; transform: translate3d(-100%,0,0)}
	to {opacity: 1; transform: translate3d(0,0,0)}
}

.animatedTransition {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	animation-duration: 1000ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.sunny-carousel {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 500px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}
.sunny-carousel .buttons {
	z-index: 50;
	position: absolute;
	bottom: 1em;
	left: 1em;
}
.sunny-carousel .next, .sunny-carousel .prev {
	cursor: pointer;
	position: absolute;
	padding: 0.5em;
	top: 0;
	line-height: 500px;
	height: 100%;
	color: #e22e27;
	transition: background-color 0.5s, color 0.5s;
}
.sunny-carousel .next:hover, .sunny-carousel .prev:hover {
	background-color: #0009;
	color: #EA6762;
}
.sunny-carousel .next {
	right: 0;
}
.sunny-carousel .prev {
	left: 0;
}
